<!-- src/app/features/dashboard/dashboard.html -->

<!-- O diálogo para adicionar jogos é renderizado aqui quando ativado -->
@if (isAddDialogOpen) {
  <app-add-game-dialog (close)="closeDialog()"></app-add-game-dialog>
}

<div class="sanctuary-container">
  <header class="sanctuary-header">
    <h1 class="title">Pixel Backlog</h1>
    <button type="button" class="rune-btn" (click)="authService.logout()">
      Partir
    </button>
  </header>

  <main>
    <section class="filters-container">
      @for (filter of filterOptions; track filter) {
        <button
          type="button"
          class="rune-btn"
          [class.is-active]="backlogService.filter() === filter"
          (click)="backlogService.filter.set(filter)">
          <i class="material-symbols-outlined rune-icon">{{ getIconForStatus(filter) }}</i>
          <span>{{ filter }}</span>
        </button>
      }
    </section>

    <section class="game-list-section">
      <div class="add-button-container">
        <button type="button" class="rune-btn" (click)="openAddDialog()">
          + Adicionar Jogo
        </button>
      </div>

      <div class="game-list" [@listAnimation]="backlogService.filteredGames().length">
        <!-- O loop agora renderiza o nosso novo componente de cartão -->
        @for (game of backlogService.filteredGames(); track game.id) {
          <app-game-card
            [game]="game"
            (delete)="onDeleteGame($event)">
          </app-game-card>
        } @empty {
          <!-- Mensagem para quando não há jogos a serem exibidos -->
          <div class="empty-state">
            <p>O Milagre não respondeu.</p>
            <p>Adicione um penitente para começar a sua jornada.</p>
          </div>
        }
      </div>
    </section>
  </main>
</div>