<!-- src/app/features/dashboard/dashboard.html -->

<div class="sanctuary-container">

  <header class="sanctuary-header">
    <h1 class="title">Pixel Backlog</h1>
    <button type="button" class="rune-btn" (click)="authService.logout()">
      Partir
    </button>
  </header>

  <main>
    <section class="filters-container">
      @for (filter of filterOptions; track filter) {
        <button
          type="button"
          class="rune-btn"
          [class.is-active]="backlogService.filter() === filter"
          (click)="backlogService.filter.set(filter)">
          {{ filter }}
        </button>
      }
    </section>

    <section class="game-list-section">
       <div class="add-button-container">
         <button type="button" class="rune-btn" (click)="openAddDialog()">
            + Adicionar Jogo
          </button>
      </div>

      <div class="game-list" [@listAnimation]="backlogService.filteredGames().length">
        @for (game of backlogService.filteredGames(); track game.id) {
          <div class="game-card">
            <h3>{{ game.title }}</h3>
            <p>Status: {{ game.status }}</p>
          </div>
        } @empty {
          <div class="empty-state">
            <p>O Milagre não respondeu.</p>
            <p>Adicione um penitente para começar a sua jornada.</p>
          </div>
        }
      </div>
    </section>

  </main>
</div>